* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px 0 10px;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 600px;
  max-width: 90%;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  padding: 20px;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.author {
  font-size: 16px;
  color: #666666;
}

.date {
  font-size: 14px;
  color: #999999;
}

.content {
  padding: 20px;
}

.image {
  width: 100%;
  height: auto;
}

.text {
  font-size: 16px;
  line-height: 1.5;
}

.footer {
  padding: 20px;
}

.footer-text {
  font-size: 14px;
}
