.edit-profile-form{
    margin: 20px auto;
    padding: 10px;
}

.main-form{
    display: inline-block;
    position: absolute;
    left: 20%;


}
.avatar-form{
    display: inline-block;
    position: absolute;
    max-width: 20%;
    right: 20%;

}