{% extends 'base.html' %} {% load static %} {% block css_files %}
<link rel="stylesheet" href="{% static 'chatter/css/single-page.css'%}" />
<link rel="stylesheet" href="{% static 'chatter/include/css/post.css'%}" />
<link rel="stylesheet" href="{% static 'chatter/include/css/twitte-form.css'%}" />

{% comment %} medium text editor instalation {% endcomment %}
<link
  rel="stylesheet"
  href="{% static 'chatter/mediumeditor.css'%}"
  type="text/css"
  media="screen"
  charset="utf-8"
/>
<link
  rel="stylesheet"
  href="https://yabwe.github.io/medium-editor/bower_components/medium-editor/dist/css/themes/beagle.css"
  id="medium-editor-theme"
/>

{% endblock %} {% block title %} user {% endblock %} {%block content%}
<div class="profile-container">

  <div class="profile-card">
    <div class='banner'> </div>
          <img src="/user-media/avatar/{{user.profile_img}}" alt="profile_img">
    {% if followed != None%}
    <form action="{% url 'fallowuser' user.user_name %}" method="POST">
      {% csrf_token %}
      <button class="follow-btn" type="submit"> {% if followed %}Unfollow {%else%} Follow{%endif%} </button>
    </form>
    <a class="setting-btn" href="#"><span></span></a>
    {%endif%}
          <div class="details">
              <h2> {{user.name}} </h2> 
      <h3>@{{user.user_name}}</h3>
      <p>{{user.bio}}</p> 
      <div class='engagement'>
        <a href="{% url 'indexfollows' username=user.user_name kind='followings' %}"> {{user.followingsNum}} <span>following</span> </a>
        <a href="{% url 'indexfollows' username=user.user_name kind='followers' %}"> {{user.followersNum}} <span>follower</span> </a>
        
      </div>
      
      
  </div>
  <hr>
          
  <div class='new-twitte-form'>
    <form action="{% url 'posttwitte' user.user_name %}" method="GET">
      {% csrf_token %}
      <button class="new-twitte-btn" type="submit"> New Twitte </button>
    </form>
  </div>

  {%for post in posts%} {% include 'chatter/include/post.html'%} {% endfor %}


</div>


 
  

{% comment %} medium text editor instalation {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<script src="{% static 'chatter/include/js/medium-editor.js'%}"></script>
<script src="{% static 'chatter/include/js/twitte-form.js'%}">  </script>
{% endblock %}
