
{% extends 'base.html'%} 
{% load chatter_tags %}
{% load static %} 

{% block css_files%}
<link rel="stylesheet" href="{% static 'chatter/include/css/post.css'%}" />
<link rel="stylesheet" href="{% static 'chatter/include/css/reply_form.css'%}" />
<link rel="stylesheet" href="{% static 'chatter/include/css/reply.css'%}" />
<link
  rel="stylesheet"
  href="{% static 'chatter/css/mediumeditor.css'%}"
  type="text/css"
  media="screen"
  charset="utf-8"
/>
<link
  rel="stylesheet"
  href="https://yabwe.github.io/medium-editor/bower_components/medium-editor/dist/css/themes/beagle.css"
  id="medium-editor-theme"
/>

{% endblock %} 

{% block title %} blog posts {%endblock%} 

{% block content %}

<div class="container">
  {% for reply in reply_to %}
  {% include 'chatter/include/reply.html' with loop_type='reply_to' %}
  {% endfor%}

  {% include 'chatter/include/post.html' %}

  {% for reply in replys%}
  {% include 'chatter/include/reply.html' %}
  {%endfor%}
</div>

{% if logged_user %}
{% include "chatter/include/replay_form.html"%}
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<script src="{% static 'chatter/include/js/medium-editor.js'%}"></script>
<script src="{% static 'chatter/include/js/twitte-form.js' %}"> </script>
{%endblock%}
