{% extends 'base.html' %} {% load static %} {% block css_files %}
<link rel="stylesheet" href="{% static 'chatter/css/single-page.css'%}" />
<link rel="stylesheet" href="{% static 'chatter/include/css/post.css'%}" />
<link rel="stylesheet" href="{% static 'chatter/include/css/twitte-form.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'chatter/include/css/twitte-form.css'%}"
/>

{% endblock %} {% block title %} user {% endblock %} {%block content%}

<div id="overlay" class="overlay {% if form.errors %}shown{% endif %}"></div>
<div class="container">
    <div class="profile-container">
        <div class="profile-card">
            <div class="banner"></div>
            <img src="/user-media/avatar/{{user.profile_img}}" alt="profile_img" />
            {% if followed != None%}
            <form action="{% url 'fallowuser' user.user_name %}" method="POST">
                {% csrf_token %}
                <button class="follow-btn" type="submit">
                {% if followed %}Unfollow {%else%} Follow{%endif%}
                </button>
            </form>
            <a class="setting-btn" href="{% url 'edit_profile'%}"><span></span></a>
            {%endif%}
            <div class="details">
                <h2>{{user.name}}</h2>
                <h3>@{{user.user_name}}</h3>
                <p>{{user.bio}}</p>
                <div class="engagement">
                    <a
                        href="{% url 'indexfollows' username=user.user_name kind='followings' %}"
                    >
                        {{user.followingsNum}} <span>following</span>
                    </a>
                    <a
                        href="{% url 'indexfollows' username=user.user_name kind='followers' %}"
                    >
                        {{user.followersNum}} <span>follower</span>
                    </a>
                </div>
            </div>
        </div>
        <hr>
    </div>
    {%for post in posts%} {% include 'chatter/include/post.html'%} {% endfor %}

</div>
{% comment %} twitte form {% endcomment %}
{% if logged_user %}  
<a class="new-twitte-btn" href="#"><span></span></a>
{% include "chatter/include/twitte-form.html"%}
{% endif %}

{% comment %} twitte form js scripts {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<script src="{% static 'chatter/include/js/medium-editor.js'%}"></script>
<script src="{% static 'chatter/include/js/twitte-form.js' %}"> </script>

{% endblock %}