{% extends 'base.html'%} {% load static %} {% block css_files%}
<link rel="stylesheet" href="{% static 'chatter/single-post.css' %}" />
{% endblock %} {% block title %} login page {%endblock%} 

{% block content %}

{%if already_logged == None %}
<div class="form-container">
  <form action="{% url 'singup' %}" method="POST">
    {% for field in form %}
    <div class="form-group">
      {% csrf_token %} {{ field.label_tag}} {{field}}
    </div>
    {%endfor%}
    <div class="form-group">
      <input type="submit" value="Send" class="btn btn-submit" />
    </div>
  </form>
</div>

{%else%}
<h1> you already logged in. </h1>
<h2>if you want to login with different account please <a href={% url "logout" %}>logout </a></h2>
{% endif %}

{%endblock%}
