

  .form-container {
    display: none;
    font-family: 'Montserrat', sans-serif;
    position:fixed;
    width:42rem;
    padding:15px;
    top:30%;
    right:30%;
    max-width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 20;
  }
 
  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }

  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }



.submit-div {
  display: flex;
  justify-content: center;
}

  
  .submit-twitte{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background-color: #e76f51;
  padding: 12px 72px;
  border: solid #ffffff 2px;
  box-shadow: none;
  border-radius: 50px;
  transition : 1125ms;
  display: flex;
  justify-content: center;

  cursor: pointer;
  }
  
  .submit-twitte:hover{
  
  transition : 1125ms;
  padding: 10px 72px;
  background-color: #fff;
  color: #f5633e;
  border: solid 2px #e76f51;
  }
  
  .submit-twitte:disabled {
    background-color: #cfcfcf;
  }
  .submit-twitte:hover:disabled {
    border: solid 0;
    padding: 12px 72px;
    transition : 0;
    background-color: #cfcfcf;
    color: #ffffff;
  }


.char-limit {
  font-size: 13px;
  color: #333;
  
  padding: 5px;
}

.dchar-limit {
  font-size: 13px;
  color: rgba(255, 0, 0, 0.562);
  
  padding: 5px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.651); /* Semi-transparent black */
  z-index: 19; /* Higher value to ensure it appears on top */
}

.errorlist {
  color: #ff2929;
}

.shown {
  display: block;
}

